<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Servlet_GetEntities</servlet-name>
		<servlet-class>lieux.Servlet_GetEntities</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Servlet_GetTypes</servlet-name>
		<servlet-class>lieux.Servlet_GetTypes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Servlet_DelLieux</servlet-name>
		<servlet-class>lieux.Servlet_DelLieux</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Servlet_AddLieux</servlet-name>
		<servlet-class>lieux.Servlet_AddLieux</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Servlet_Update</servlet-name>
		<servlet-class>utilisateurs.Servlet_Update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Servlet_AddFriend</servlet-name>
		<servlet-class>utilisateurs.Servlet_AddFriend</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet_GetEntities</servlet-name>
		<url-pattern>/Servlet_GetEntities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_GetTypes</servlet-name>
		<url-pattern>/Servlet_GetTypes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_DelLieux</servlet-name>
		<url-pattern>/Servlet_DelLieux</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_AddLieux</servlet-name>
		<url-pattern>/Servlet_AddLieux</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_Update</servlet-name>
		<url-pattern>/Servlet_Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet_AddFriend</servlet-name>
		<url-pattern>/Servlet_AddFriend</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
